<IfModule mod_rewrite.c>

	#
	# AJBnet
	# Rewrite Rules
	# v1.0
	#
	# route all requests to the front controller unless the physical path exists. this should consider the alias above.

	RewriteEngine On
	RewriteBase {REWRITE_BASE}
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*) index.php?page=$1 [QSA]

</IfModule>